<main>
      <section class="h1-section">
        <div class="container">
          <h1 class="h1-title">Effective Solutions for Your Business</h1>
          <button class="h1-button" type="button" data-modal-open>Order Service</button>
        </div>
      </section>

      <section class="features-sec">
        <h2 class="visually-hidden">Features</h2>
        <div class="container">
          <ul class="features">
            <li class="features-item">
              <div class="features-wraper">
                <svg class="features-icon" width="64" height="64">
                  <use href="./img/sprite.svg#antenna-1"></use>
                </svg>
              </div>
              <h3 class="features-title">Strategy</h3>
              <p class="features-description">
                Our goal is to identify the business problem to walk away with
                the perfect and creative solution.
              </p>
            </li>
            <li class="features-item">
              <div class="features-wraper">
                <svg class="features-icon" width="64" height="64">
                  <use href="./img/sprite.svg#clock-1"></use>
                </svg>
              </div>
              <h3 class="features-title">Punctuality</h3>
              <p class="features-description">
                Bring the key message to the brand's audience for the best price
                within the shortest possible time.
              </p>
            </li>
            <li class="features-item">
              <div class="features-wraper">
                <svg class="features-icon" width="64" height="64">
                  <use href="./img/sprite.svg#diagram-1"></use>
                </svg>
              </div>
              <h3 class="features-title">Diligence</h3>
              <p class="features-description">
                Research and confirm brands that present the strongest digital
                growth opportunities and minimize risk.
              </p>
            </li>
            <li class="features-item">
              <div class="features-wraper">
                <svg class="features-icon" width="64" height="64">
                  <use href="./img/sprite.svg#astronaut-1"></use>
                </svg>
              </div>
              <h3 class="features-title">Technologies</h3>
              <p class="features-description">
                Design practice focused on digital experiences. We bring forth a
                deep passion for problem solving.
              </p>
            </li>
          </ul>
        </div>
      </section>

      <section class="services-sec">
        <div class="container">
          <h2 class="services">What Are We Doing</h2>
          <ul class="serv-list">
            <li class="serv-itm">
              <img
                srcset="
                ./img/img-1.jpg 1x,
                ./img/image-1(r).jpg 2x
                "
                src="./img/img-1.jpg"
                alt="computer"
                width="360"
                height="300"
                loading="lazy"
              />
            </li>
            <li class="serv-item">
              <img
                srcset="
                ./img/img-2.jpg 1x,
                ./img/image-2(r).jpg 2x
                "

                src="./img/img-2.jpg"
                alt="cell phone"
                width="360"
                height="300"
                loading="lazy"
              />
            </li>
            <li class="serv-item">
              <img
                srcset="
                ./img/img-3.jpg 1x,
                ./img/image-3(r).jpg 2x
                "
                
                src="./img/img-3.jpg"
                alt="laptop + cell phone"
                width="360"
                height="300"
                loading="lazy"
              />
            </li>
          </ul>
        </div>
      </section>

      <section class="team">
        <div class="container">
          <h2 class="team-text">Our Team</h2>
          <ul class="team-members">
            <li class="team-person">
              <div class="team-thumb">
                <img
                  srcset="
                  ./img/img-team-1.jpg 1x,
                  ./img/team-1(r).jpg 2x
                  "
                  src="./img/img-team-1.jpg"
                  alt="Mark Guerrero"
                  width="264"
                  height="260"
                  loading="lazy"
                />
              </div>
              <div class="team-credent">
                <h3 class="team-member">Mark Guerrero</h3>
                <p class="team-description">Product designer</p>

                <ul class="team-socials">
                  <li class="socials-item">
                    <a
                      class="socials-link"
                      href="https://instagram.com"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="Link to instagram.com"
                    >
                      <svg class="socials-icon" width="16" height="16">
                        <use href="./img/sprite.svg#instagram-2"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials-item">
                    <a
                      class="socials-link"
                      href="https://twitter.com"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="Link to twitter.com"
                    >
                      <svg class="socials-icon" width="16" height="16">
                        <use href="./img/sprite.svg#twitter-1"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials-item">
                    <a
                      class="socials-link"
                      href="https://facebook.com"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="Link to facebook.com"
                    >
                      <svg class="socials-icon" width="16" height="16">
                        <use href="./img/sprite.svg#facebook-1"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials-item">
                    <a
                      class="socials-link"
                      href="https://linkedin.com"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="Link to linkedin.com"
                    >
                      <svg class="socials-icon" width="16" height="16">
                        <use href="./img/sprite.svg#linkedin-1"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="team-person">
              <div class="team-thumb">
                <img
                  srcset="
                  ./img/img-team-2.jpg 1x,
                  ./img/team-2(r).jpg 2x
                  "
                  src="./img/img-team-2.jpg"
                  alt="Tom Ford"
                  width="264"
                  height="260"
                  loading="lazy"
                />
              </div>
              <div class="team-credent">
                <h3 class="team-member">Tom Ford</h3>
                <p class="team-description">Frontend Developer</p>

                <ul class="team-socials">
                  <li class="socials-item">
                    <a
                      class="socials-link"
                      href="https://instagram.com"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="Link to instagram.com"
                    >
                      <svg class="socials-icon" width="16" height="16">
                        <use href="./img/sprite.svg#instagram-2"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials-item">
                    <a
                      class="socials-link"
                      href="https://twitter.com"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="Link to twitter.com"
                    >
                      <svg class="socials-icon" width="16" height="16">
                        <use href="./img/sprite.svg#twitter-1"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials-item">
                    <a
                      class="socials-link"
                      href="https://facebook.com"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="Link to facebook.com"
                    >
                      <svg class="socials-icon" width="16" height="16">
                        <use href="./img/sprite.svg#facebook-1"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials-item">
                    <a
                      class="socials-link"
                      href="https://linkedin.com"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="Link to linkedin.com"
                    >
                      <svg class="socials-icon" width="16" height="16">
                        <use href="./img/sprite.svg#linkedin-1"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="team-person">
              <div class="team-thumb">
                <img
                  srcset="
                  ./img/img-team-3.jpg 1x,
                  ./img/team-3(r).jpg 2x
                  "
                  src="./img/img-team-3.jpg"
                  alt="Camila Garcia"
                  width="264"
                  height="260"
                  loading="lazy"
                />
              </div>
              <div class="team-credent">
                <h3 class="team-member">Camila Garcia</h3>
                <p class="team-description">Marketing</p>

                <ul class="team-socials">
                  <li class="socials-item">
                    <a
                      class="socials-link"
                      href="https://instagram.com"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="Link to instagram.com"
                    >
                      <svg class="socials-icon" width="16" height="16">
                        <use href="./img/sprite.svg#instagram-2"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials-item">
                    <a
                      class="socials-link"
                      href="https://twitter.com"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="Link to twitter.com"
                    >
                      <svg class="socials-icon" width="16" height="16">
                        <use href="./img/sprite.svg#twitter-1"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials-item">
                    <a
                      class="socials-link"
                      href="https://facebook.com"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="Link to facebook.com"
                    >
                      <svg class="socials-icon" width="16" height="16">
                        <use href="./img/sprite.svg#facebook-1"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials-item">
                    <a
                      class="socials-link"
                      href="https://linkedin.com"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="Link to linkedin.com"
                    >
                      <svg class="socials-icon" width="16" height="16">
                        <use href="./img/sprite.svg#linkedin-1"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="team-person">
              <div class="team-thumb">
                <img
                
                  srcset="
                  ./img/img-team-4.jpg 1x,
                  ./img/team-4(r).jpg 2x
                  "
                  src="./img/img-team-4.jpg"
                  alt="Daniel Wilson"
                  width="264"
                  height="260"
                  loading="lazy"
                />
              </div>
              <div class="team-credent">
                <h3 class="team-member">Daniel Wilson</h3>
                <p class="team-description">UI Designer</p>

                 <ul class="team-socials">
                  <li class="socials-item">
                    <a
                      class="socials-link"
                      href="https://instagram.com"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="Link to instagram.com"
                    >
                      <svg class="socials-icon" width="16" height="16">
                        <use href="./img/sprite.svg#instagram-2"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials-item">
                    <a
                      class="socials-link"
                      href="https://twitter.com"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="Link to twitter.com"
                    >
                      <svg class="socials-icon" width="16" height="16">
                        <use href="./img/sprite.svg#twitter-1"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials-item">
                    <a
                      class="socials-link"
                      href="https://facebook.com"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="Link to facebook.com"
                    >
                      <svg class="socials-icon" width="16" height="16">
                        <use href="./img/sprite.svg#facebook-1"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials-item">
                    <a
                      class="socials-link"
                      href="https://linkedin.com"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="Link to linkedin.com"
                    >
                      <svg class="socials-icon" width="16" height="16">
                        <use href="./img/sprite.svg#linkedin-1"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
              </div>
            </li>
          </ul>
        </div>
      </section>
      
<!--Customers--> 
      <section class="customers">
        <div class="container">
          <h2 class="customers-text">Customers</h2>
          <ul class="customers-list">
            <li class="customers-item">
              <a
                class="customers-link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Link to customer"
              >
                <svg class="customers-icon" width="104" height="56">
                  <use href="./img/sprite.svg#client-1"></use>
                </svg>
              </a>
            </li>
            <li class="customers-item">
              <a
                      class="customers-link"
                      href="#"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="Link to customer"
                    >
                      <svg class="customers-icon" width="104" height="56">
                        <use href="./img/sprite.svg#client-2"></use>
                      </svg>
                    </a>
            </li>
            <li class="customers-item">
              <a
                      class="customers-link"
                      href="#"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="Link to customer"
                    >
                      <svg class="customers-icon" width="104" height="56">
                        <use href="./img/sprite.svg#client-3"></use>
                      </svg>
                    </a>
            </li>
            <li class="customers-item">
              <a
                      class="customers-link"
                      href="#"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="Link to customer"
                    >
                      <svg class="customers-icon" width="104" height="56">
                        <use href="./img/sprite.svg#client-4"></use>
                      </svg>
                    </a>
            </li>
            <li class="customers-item">
              <a
                      class="customers-link"
                      href="#"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="Link to customer"
                    >
                      <svg class="customers-icon" width="104" height="56">
                        <use href="./img/sprite.svg#client-5"></use>
                      </svg>
                    </a>
            </li>
            <li class="customers-item">
              <a
                      class="customers-link"
                      href="#"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="Link to customer"
                    >
                      <svg class="customers-icon" width="104" height="56">
                        <use href="./img/sprite.svg#client-6"></use>
                      </svg>
                    </a>
            </li>
          </ul>

        </div>
       </section> 
</main>