.header .container {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid var(--clr-cornflower);
}

.header-menu {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-left: 76px;
}


.adress {
  margin-left: auto;
}

.adress-opt {
  display: flex;
  gap: 40px;
}

/* Desktop */
@media only screen and (max-width: 1157px) {
  .adress-opt {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 12px;
    justify-content: end;

  }
}

/* Mobile -header */
@media only screen and (max-width: 767px) {
  .header-menu {
    display: none;
  }

  .adress-opt {
    display: none;
  }
}

/* Logo */
.logo {
  font-family: var(--secondary-font);
  color: var(--navy-bl);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}

.logo-acnt {
  color: var(--clr-iris);
}

/* Classes */
.header-nav {
  font-weight: 500;
  display: flex;
}


@media only screen and (max-width: 767px) {
  .header-nav {
    justify-content: space-between;
    flex-grow: 1;
  }
}

.header-menu-link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px 0;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--clr-ocean);
}

.current {
  position: relative;
  color: var(--clr-ocean);
}

.header-menu-link.current::after {
  content: '';
  background-color: var(--clr-ocean);
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.adress-opt-items a {
  color: var(--clr-slate);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-opt a:hover,
.adress-opt a:focus {
  color: var(--clr-ocean);
}

@media only screen and (max-width: 1157px) {
  .adress-opt-items a {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }
}


/* Mobile Menu */
.menu-toggle {
  min-height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  border-color: var(--clr-cornflower);
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: var(--clr-white);
  z-index: 999;
  display: flex;
  flex-direction: column;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}


.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #fff;
}

.js-close-menu {
  border: 1px solid var(--clr-cornflower);
  background: transparent;
}

.mobile-menu {
  margin-bottom: auto;
}


.mobile-menu li:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu .link {

  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--navy-bl);
}

.mobile-menu .link.active {
  color: var(--clr-ocean);
}



.mobile-contacts {
  margin-bottom: 48px;
}

.mobile-contacts li:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-contacts .link {
  /* color: var(--clr-slate); */

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}


.mobile-contacts .link.accent {
  color: var(--clr-ocean);
}

@media only screen and (min-width: 428px) {
  .mobile-contacts .link.accent {
    font-size: 36px;
    line-height: 40px;

  }
}

.mobile-socials {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 427px) {
  .mobile-socials {
    justify-content: initial;
    gap: 56px;
  }
}

.mobile-socials-item {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: var(--clr-iris);
  border-radius: 50%;

  justify-content: center;
  align-items: center;

  flex-shrink: 0;
}

.mobile-socials-icon {
  fill: var(--clr-cloud);
}

.mobile-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End Mobile menu  */
