<main>
      <section class="types">
        <div class="container">
          <h1 class="visually-hidden">types</h1>
          <!--Buttons-->
          <ul class="buttons">
            <li class="buttons-item">
              <button class="btn-itms-smpl" type="button">All</button>
            </li>
            <li class="buttons-item">
              <button class="btn-itms-smpl" type="button">Web Site</button>
            </li>
            <li class="buttons-item">
              <button class="btn-itms-smpl" type="button">App</button>
            </li>
            <li class="buttons-item">
              <button class="btn-itms-smpl" type="button">Design</button>
            </li>
            <li class="buttons-item">
              <button class="btn-itms-smpl" type="button">Marketing</button>
            </li>
          </ul>

          <!--Portfolio cards-->
          <div class="cards">
            <ul class="types-preview">
              <li class="types-item" tabindex="0"> 

                <div class="cards-wrapp">
                  <a href="#" class="types-item-link">
                    <img
                      class="types-ill"

                      srcset="
                      ./img/img-2-1.jpg 1x,
                      ./img/img-2-1(r).jpg 2x
                      "
                      src="./img/img-2-1.jpg"
                      alt="Banking App Interface Concept"
                      width="360"
                      height="300"
                      loading="lazy"
                    />
                      <p class="overlay">
                        14 Stylish and User-Friendly App Design Concepts · Task
                        Manager App · Calorie Tracker App · Exotic Fruit Ecommerce
                        App · Cloud Storage App
                      </p>
                </div>

                <div class="types-descr-cont">
                  <h2 class="types-descr">Banking App Interface Concept</h2>
                  <p class="types-prdct">App</p>
                </div>
                  </a>
              </li>

              <li class="types-item" tabindex="0">
                <div class="cards-wrapp">
                  <a href="#" class="types-item-link">
                    <img
                      class="types-ill"

                      srcset="
                      ./img/img-2-2.jpg 1x,
                      ./img/img-2-2(r).jpg 2x
                      "
                      src="./img/img-2-2.jpg"
                      alt="Cashless Payment"
                      width="360"
                      height="300"
                      loading="lazy"
                    />
                      <p class="overlay">
                        14 Stylish and User-Friendly App Design Concepts · Task
                        Manager App · Calorie Tracker App · Exotic Fruit Ecommerce
                        App · Cloud Storage App
                      </p>
                </div>

                  <div class="types-descr-cont">
                    <h2 class="types-descr">Cashless Payment</h2>
                    <p class="types-prdct">Marketing</p>
                  </div>
                </a>
              </li>
              <li class="types-item" tabindex="0">
                <div class="cards-wrapp">
                  <a href="#" class="types-item-link">
                    <img
                      class="types-ill"

                      srcset="
                      ./img/img-2-3.jpg 1x,
                      ./img/img-2-3(r).jpg 2x
                      "
                      src="./img/img-2-3.jpg"
                      alt="Meditation App"
                      width="360"
                      height="300"
                      loading="lazy"
                    />
                      <p class="overlay">
                          14 Stylish and User-Friendly App Design Concepts · Task
                          Manager App · Calorie Tracker App · Exotic Fruit Ecommerce
                          App · Cloud Storage App
                      </p>
                </div>

                    <div class="types-descr-cont">
                      <h2 class="types-descr">Meditation App</h2>
                      <p class="types-prdct">App</p>
                    </div>
                  </a>
                
              </li>
              <li class="types-item" tabindex="0">
                <div class="cards-wrapp">
                <a href="#" class="types-item-link">
                  <img
                    class="types-ill"

                    srcset="
                    ./img/img-2-4.jpg 1x,
                    ./img/img-2-4(r).jpg 2x
                    "
                    src="./img/img-2-4.jpg"
                    alt="Taxi Service"
                    width="360"
                    height="300"
                    loading="lazy"
                  />
                    <p class="overlay">
                        14 Stylish and User-Friendly App Design Concepts · Task
                        Manager App · Calorie Tracker App · Exotic Fruit Ecommerce
                        App · Cloud Storage App
                    </p>
                </div>
                  <div class="types-descr-cont">
                    <h2 class="types-descr">Taxi Service</h2>
                    <p class="types-prdct">Marketing</p>
                  </div>
                </a>
              </li>
              <li class="types-item" tabindex="0">
                <div class="cards-wrapp">
                 <a href="#" class="types-item-link">
                  <img
                    class="types-ill"

                    srcset="
                    ./img/img-2-5.jpg 1x,
                    ./img/img-2-5(r).jpg 2x
                    "
                    src="./img/img-2-5.jpg"
                    alt="Screen Illustrations"
                    width="360"
                    height="300"
                    loading="lazy"
                  />
                    <p class="overlay">
                        14 Stylish and User-Friendly App Design Concepts · Task
                        Manager App · Calorie Tracker App · Exotic Fruit Ecommerce
                        App · Cloud Storage App
                    </p>
                </div>

                  <div class="types-descr-cont">
                    <h2 class="types-descr">Screen Illustrations</h2>
                    <p class="types-prdct">Design</p>
                  </div>
                </a>
              </li>
              <li class="types-item" tabindex="0">
                <div class="cards-wrapp">
                  <a href="#" class="types-item-link">
                      <img
                        class="types-ill"

                        srcset="
                        ./img/img-2-6.jpg 1x,
                        ./img/img-2-6(r).jpg 2x
                        "
                        src="./img/img-2-6.jpg"
                        alt="Online Courses"
                        width="360"
                        height="300"
                        loading="lazy"
                      />
                        <p class="overlay">
                          14 Stylish and User-Friendly App Design Concepts · Task
                          Manager App · Calorie Tracker App · Exotic Fruit Ecommerce
                          App · Cloud Storage App
                        </p>
                  </div>
                    <div class="types-descr-cont">
                      <h2 class="types-descr">Online Courses</h2>
                      <p class="types-prdct">Marketing</p>
                    </div>
                </a>
                
              </li>
              <li class="types-item" tabindex="0">
                <div class="cards-wrapp">
                  <a href="#" class="types-item-link">
                    <img
                      class="types-ill"

                      srcset="
                      ./img/img-2-7.jpg 1x,
                      ./img/img-2-7(r).jpg 2x
                      "
                      src="./img/img-2-7.jpg"
                      alt="Instagram Stories Concept"
                      width="360"
                      height="300"
                      loading="lazy"
                    />
                      <p class="overlay">
                        14 Stylish and User-Friendly App Design Concepts · Task
                        Manager App · Calorie Tracker App · Exotic Fruit Ecommerce
                        App · Cloud Storage App
                      </p>
                </div>
                    <div class="types-descr-cont">
                      <h2 class="types-descr">Instagram Stories Concept</h2>
                      <p class="types-prdct">Design</p>
                    </div>
                  
                 </a>
              </li>
              <li class="types-item" tabindex="0">
                <div class="cards-wrapp">
                  <a href="#" class="types-item-link">
                    <img
                      class="types-ill"

                      srcset="
                      ./img/img-2-8.jpg 1x,
                      ./img/img-2-8(r).jpg 2x
                      "
                      src="./img/img-2-8.jpg"
                      alt="Organic Food"
                      width="360"
                      height="300"
                      loading="lazy"
                    />
                      <p class="overlay">
                        14 Stylish and User-Friendly App Design Concepts · Task
                        Manager App · Calorie Tracker App · Exotic Fruit Ecommerce
                        App · Cloud Storage App
                      </p>

                </div>
                  <div class="types-descr-cont">
                    <h2 class="types-descr">Organic Food</h2>
                    <p class="types-prdct">Web Site</p>
                  </div>
                </a>
              </li>
              <li class="types-item" tabindex="0">
                <div class="cards-wrapp">
                <a href="#" class="types-item-link">
                  <img
                    class="types-ill"

                    srcset="
                    ./img/img-2-9.jpg 1x,
                    ./img/img-2-9(r).jpg 2x
                    "
                    src="./img/img-2-9.jpg"
                    alt="Fresh Cofee"
                    width="360"
                    height="300"
                    loading="lazy"
                  />
                    <p class="overlay">
                        14 Stylish and User-Friendly App Design Concepts · Task
                        Manager App · Calorie Tracker App · Exotic Fruit Ecommerce
                        App · Cloud Storage App
                    </p>
                </div>
                  <div class="types-descr-cont">
                    <h2 class="types-descr">Fresh Cofee</h2>
                    <p class="types-prdct">Web Site</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
</main>