<header class="header">
  <div class="container">
    <!-- Navigation -->
    <nav class="header-nav">
      <!-- Logo -->
      <a class="header-logo logo" href="./index.html">
        <span class="logo-acnt">WEB</span>STUDIO
      </a>

      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
        aria-label="Open menu button"
      >
        <svg class="menu-toggle-icon" width="32" height="22">
          <use href="./img/sprite.svg#burger-menu"></use>
        </svg>
      </button>

      <ul class="header-menu">
        <li class="header-menu-item">
          <a class="header-menu-link" data-link-home href="./index.html"
            >Studio</a
          >
        </li>
        <li class="header-menu-item">
          <a
            class="header-menu-link"
            data-link-portfolio
            href="./portfolio.html"
            >Portfolio</a
          >
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" data-link-contacts href="./contacts.html"
            >Contacts</a
          >
        </li>
      </ul>
    </nav>

    <!-- Contact information -->
    <address class="adress">
      <ul class="adress-opt">
        <li class="adress-opt-items">
          <a class="adress-mail" href="mailto:info@devstudio.com"
            >info@devstudio.com</a
          >
        </li>
        <li class="adress-opt-items">
          <a class="adress-opt-items" href="tel:+11(000)111-11-11"
            >+11(000)111-11-11</a
          >
        </li>
      </ul>
    </address>
  </div>
</header>
