<!-- Mobile menu -->
<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu" aria-label="Close menu button">
    <svg class="menu-toggle-icon" width="8" height="8">
      <use href="./img/sprite.svg#close"></use>
    </svg>
  </button>

  <ul class="mobile-menu">
    <li>
      <a href="./index.html" class="link active" data-link-home>Studio</a>
    </li>
    <li>
      <a href="./portfolio.html" class="link" data-link-portfolio>Portfolio</a>
    </li>
    <li>
      <a href="./contacts.html" class="link" data-link-contacts>Contacts</a>
    </li>
  </ul>

  <ul class="mobile-contacts">
    <li>
      <a class="link accent" href="tel:+11(000)111-11-11">+11(000)111-11-11</a>
    </li>
    <li>
      <a class="link" href="mailto:info@devstudio.com">info@devstudio.com</a>
    </li>
  </ul>

  <ul class="mobile-socials">
    <li class="mobile-socials-item">
      <a
        class="mobile-socials-link"
        href="https://instagram.com"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Link to instagram.com"
      >
        <svg class="mobile-socials-icon" width="24" height="24">
          <use href="./img/sprite.svg#instagram-2"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-socials-item">
      <a
        class="mobile-socials-link"
        href="https://twitter.com"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Link to twitter.com"
      >
        <svg class="mobile-socials-icon" width="24" height="24">
          <use href="./img/sprite.svg#twitter-1"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-socials-item">
      <a
        class="mobile-socials-link"
        href="https://facebook.com"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Link to facebook.com"
      >
        <svg class="mobile-socials-icon" width="24" height="24">
          <use href="./img/sprite.svg#facebook-1"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-socials-item">
      <a
        class="mobile-socials-link"
        href="https://linkedin.com"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Link to linkedin.com"
      >
        <svg class="mobile-socials-icon" width="24" height="24">
          <use href="./img/sprite.svg#linkedin-1"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
